  code,
  pre {
    display: block;
  	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
  	width: 100%;
  
  	text-overflow: clip;
  	white-space: pre;
  	hyphens: none;
  	overflow-wrap: normal;
  
  	font-family: Menlo, "DejaVu Sans Mono", "Roboto Mono", Monaco, "Lucida Console", "Liberation Mono",
  		"Bitstream Vera Sans Mono", monospace, monospace, "Apple Color Emoji", "Segoe UI Emoji",
  		"Segoe UI Symbol", "Noto Color Emoji";
  	font-size: 16px;
  	line-height: 24px;
    text-rendering: geometricPrecision;

    -webkit-user-select: text;
    user-select: text;
  }
  
  pre {
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;

    border-style: solid;
    border-color: #f009;
    border-width: 2px;
  	border-radius: 0.375rem;

    margin-top: 5px;
    margin-bottom: 5px;
  }
