@import "../styles/sanitize.css";
@import "../styles/sanitize-forms.css";
@import "../styles/code.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*@import "../styles/oxygen.css";*/

:root {
	--fallback-bg-color: #0e0f13; /* #13151a; */
	--ui-color: #0004;
	--header-color: #0001;
	--border: 2px solid #f009;

	color-scheme: dark;
}

html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overscroll-behavior-x: none;
	font-family: Poppins, sans-serif;
	font-feature-settings: normal;
	font-variation-settings: normal;
	color: #ddd;
	/* font-size: 18px; */
	/* font-family:
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		"Noto Color Emoji";
	*/
	/* font-family: "Oxygen", "Open Sans", "Noto Sans", "Helvetica Neue", Roboto, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overscroll-behavior-x: none;
	background: fixed no-repeat center top/cover border-box var(--fallback-bg-color);
}

main {
	margin: 0;
	padding: 0.5rem;
	padding-top: 2rem;
	overflow-x: hidden;
	overscroll-behavior-x: none;
	position: absolute;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	align-content: space-evenly;
	justify-content: space-between;
	justify-items: start;
	background-color: var(--ui-color);
}

h1,
h2,
h3 {
	margin: 0;
	margin-bottom: 0.2em;
	line-height: 1;
	text-align: center;
}
h1 {
	font-size: 4rem;
	font-weight: 800;
	color: #eee;
}
h2 {
	font-size: 2.5rem;
	font-weight: 700;
	color: #dedede;
}
h3 {
	font-size: 1.5rem;
	font-weight: 600;
	color: #dedede;
}

/*
	since the <a> element is used for things like the social cards,
	this stuff should be moved to a seperate class only for text hyperlinks.

	a {
		font-weight: 600;
		color: #ddd;
		text-decoration: underline solid #44f 2px;
	}
	*/

.icon {
	height: inherit;
	width: auto;
	aspect-ratio: 1/1;
}

.pwrful {
	font-weight: 700;
	font-style: italic;
	text-decoration: 5px #ff0000 solid underline;
}

@keyframes imprtntgrow {
	from {
		text-decoration-thickness: 2px
		text-decoration-color: #ee0000dd;
	}
	to {
		text-decoration-thickness: 4px;
		text-decoration-color: #ee0000ed;
	}
}
@keyframes imprtntshrink {
	from {
		text-decoration-thickness: 4px;
		text-decoration-color: #ee0000ed;
	}
	to {
		text-decoration-thickness: 2px;
		text-decoration-color: #ee0000dd;
	}
}
.imprtnt {
	font-weight: 700;
	text-decoration: 2px #ee0000dd solid underline;
	animation: 75ms ease-in-out 0ms imprtntshrink both;
}
.imprtnt:hover {
	animation: 75ms ease-in-out 0ms imprtntgrow both;
}

.lead {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 500;
	color: #e5e5e5;
	font-size: 1.5rem;
	text-align: center;
}

.no-pad-y {
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
