@import "../styles/sanitize.css";
@import "../styles/sanitize-forms.css";
@import "../styles/code.css";
@import "../styles/Hubot-Sans.css";
@import "../styles/Mona-Sans.css";

:root {
	--color-foreground: rgba(30, 15, 15, 0.75); /* rgb(16, 16, 19) */
	--color-foreground-selected: rgba(20, 15, 15, 0.75);
	--color-foreground-border: rgba(120, 40, 40, 0.75); /* rgb(39, 39, 42) */
	--color-foreground-border-selected: rgba(180, 40, 40, 0.75);
	--color-foreground-ui: rgba(40, 25, 25, 0.75);
	--color-foreground-ui-selected: rgba(39, 39, 42, 0.75);
	--color-foreground-title: rgb(240, 240, 240);
	--color-foreground-heading: rgb(230, 230, 230);
	--color-foreground-text: rgb(222, 222, 222);

	color-scheme: dark;
}

html {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	margin: 0;
	padding: 0;

	overflow: visible;
	overscroll-behavior: none;

	font-family: "Mona Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	font-feature-settings: /* see https://github.com/github/mona-sans */
		"ss02" on, /* wide uppercase I */
		"ss03" on; /* lowercase L with tail */
	font-variation-settings: normal;
	color: var(--color-foreground-text);
	font-size: 16px; /* 18px */

	/* font-family:
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		"Noto Color Emoji";
	*/
	/* font-family: "Oxygen", "Open Sans", "Noto Sans", "Helvetica Neue", Roboto, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

body {
	position: static;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	overflow: visible;
	overscroll-behavior: none;

	background: fixed no-repeat center top/cover border-box #0e0f13;
}

main {
	position: static;

	width: 100%;
	height: 100%;

	margin: 0;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;

	overflow-x: hidden;
	overflow-y: auto;
	overscroll-behavior: auto;

	display: block;
	background-color: #0004;
}

h1,
h2,
h3 {
	margin: 0;
	margin-bottom: 0.2em;
	line-height: 1;
	text-align: center;

	font-family: "Hubot Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	font-feature-settings: normal;
	font-variation-settings: normal;
}
h1 {
	font-size: 4rem;
	font-weight: 800;
	color: var(--color-foreground-title);
}
h2 {
	font-size: 2.5rem;
	font-weight: 700;
	color: var(--color-foreground-heading);
}
h3 {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--color-foreground-heading);
}

/*
	since the <a> element is used for things like the social cards,
	this stuff should be moved to a seperate class only for text hyperlinks.

	a {
		font-weight: 600;
		color: #ddd;
		text-decoration: underline solid #44f 2px;
	}
	*/

.icon {
	height: inherit;
	width: auto;
	aspect-ratio: 1/1;
}

.pwrful {
	font-weight: 700;
	font-style: italic;
	text-decoration: 5px #ff0000 solid underline;
}

.imprtnt {
	font-weight: 700;
	text-decoration: 2px #ee0000dd solid underline;
	transition:
		text-decoration-thickness 75ms ease-in-out,
		text-decoration-color 75ms ease-in-out;

	&:hover {
		text-decoration-thickness: 4px;
		text-decoration-color: #ee0000ed;
	}
}

.lead {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 500;
	color: #e5e5e5;
	font-size: 1.5rem;
	text-align: center;
}

.no-pad-y {
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
