---
import DevCard from "../layouts/DevCard.astro";
import Page from "../layouts/Page.astro";
import Section from "../layouts/Section.astro";

import maxxusImage from "../images/maxxus.png";
---

<Page title="NullHub">
	<h1>NullHub</h1>
	<p class="lead">
		NullHub is a <span class="pwrful">powerful</span> Roblox script hub with <span
			class="imprtnt">countless features</span
		> and a
		<span class="imprtnt">wide array of supported games</span>.
	</p>

	<Section title="FAQ">
		<b>Q.</b> What information do you log?<br />
		<b>A.</b> We log HWIDs to prevent premium users from sharing their NullHub+<br
		/>
		<br />
		<b>Q.</b> Do you have a Discord?<br />
		<b>A.</b> We do! Join it <a
			href="https://dsc.gg/nullhub"
			target="_blank"
			rel="noreferrer noopener external">here</a
		>
	</Section>

	<Section title="Our Developers" centered>
		<DevCard image={maxxusImage} name="maxxus" role="website dev">
			coolest nullhub dev
		</DevCard>
	</Section>
</Page>
