---
import DevCard from "../components/DevCard.astro";
import Section from "../components/Section.astro";
import Page from "../layouts/Page.astro";
---

<Page title="NullHub">
	<h1>NullHub</h1>
	<p class="lead">
		NullHub is a <span class="pwrful">powerful</span> Roblox script hub with <span class="imprtnt"
			>countless features</span
		> and a <span class="imprtnt">wide array of supported games</span>.
	</p>

	<Section title="FAQ">
		<p class="no-pad-y">
			<b>Q.</b> What information do you log?<br />
			<b>A.</b> We log HWIDs to prevent premium users from sharing their NullHub+<br />
			<br />
			<b>Q.</b> Do you have a Discord?<br />
			<b>A.</b> We do! Join it <a
				href="https://dsc.gg/nullhub"
				target="_blank"
				rel="noreferrer noopener external">here</a
			>
		</p>
	</Section>

	<Section title="Our Developers" centered>
		<DevCard image="/nullhub-site/img/maxxus.webp?v=1" name="rob" role="owner">
			does pretty much all the work
		</DevCard>
		<DevCard image="/nullhub-site/img/maxxus.webp?v=1" name="spidey" role="co-owner">
			[ placeholder ]
		</DevCard>
		<DevCard image="/nullhub-site/img/maxxus.webp?v=1" name="maxxus" role="website dev">
			coolest nullhub dev<br />
			not gay
		</DevCard>
		<DevCard image="/nullhub-site/img/maxxus.webp?v=1" name="cat_person" role="contributer">
			[ placeholder ]
		</DevCard>
	</Section>
</Page>
