---
interface Props {
	image: ImageMetadata;
	name: string;
	role: string;
}

const { image, name, role } = Astro.props;

import Card from "./Card.astro";
---

<Card image={image} title={name}>
	<p class="DevCard-Role">- {role} -</p>
	<div class="DevCard-Desc">
		<slot />
	</div>
</Card>

<style>
	.DevCard-Role {
		font-style: italic;
		color: #bbb;
	}

	.DevCard-Desc {
		margin-top: 0.6rem;
		text-align: center;
		line-height: 1.25;
		color: #ccc;

		> :global(*) {
			padding: 0;
			margin: 0;

			&:global(:not(:first-child)) {
				margin-top: 0.45rem;
			}
		}
	}
</style>
