---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
	image: ImageMetadata;
	name: string;
	role: string;
}

const { image, name, role } = Astro.props;
---

<section class="DevCard">
	<Image src={image} class="DevCard-Icon" alt="" />
	<h2 class="DevCard-Name">{name}</h2>
	<p class="DevCard-Role">- {role} -</p>
	<p class="DevCard-Desc">
		<slot />
	</p>
</section>

<style>
	.DevCard {
		padding: 1rem;
		margin: 0;
		width: 9rem;
		display: inline-block;
		background-color: var(--ui-color);
		outline: var(--outline);
		text-align: center;

		> * {
			padding: 0;
			margin: 0;
		}

		> .DevCard-Icon {
			display: block;
			width: 9rem;
			height: 9rem;
			aspect-ratio: 1/1;
			outline: var(--outline);
		}

		> .DevCard-Name 
			margin-top: 0.5rem;
		}

		> .DevCard-Role {
			font-style: italic;
			color: #bbb;
		}

		> .DevCard-Desc {
			margin-top: 0.2rem;
			text-align: center;
			line-height: 1.25;
			color: #ccc;

			> :global(p) {
				padding: 0;
				margin: 0;
				margin-top: 0.2rem;
			}
		}
	}
</style>
