---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
	image: ImageMetadata;
	name: string;
	role: string;
}

const { image, name, role } = Astro.props;
---

<div class="DevCard">
	<div class="DevCard-Inner">
		<Image
			src={image}
			class="DevCard-Image"
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
			aria-hidden="true"
			alt=""
		/>
		<div class="DevCard-About">
			<div class="DevCard-Name-Container">
				<h3 class="DevCard-Name">{name}</h3>
				<!-- <a class="DevCard-Link"><svg></svg></a> -->
			</div>
			<p class="DevCard-Desc">
				({role}) <slot />
			</p>
		</div>
	</div>
</div>

<style>
	.DevCard {
		display: flex;
		width: 100%;
		height: fix-content;
		align-items: center;
		border-radius: 0.375rem;
		border-color: rgb(39, 39, 42)
		border-width: 2px;
		border-style: solid;
		background-color: rbg(16, 16, 19);
		padding: 1rem;
	}

	.DevCard-Inner {
		display: flex;
		width: 100%;
		flex-direction: row;
		align-items: center;
		gap: 0.5rem;
	}

	.DevCard-Image {
		display: block;
		vertical-align: middle;
		height: 100%;
		width: 4rem;
		max-width: 100%;
		border-radius: 0.375rem;
		border-color: rgb(39, 39, 42)
		border-width: 2px;
		border-style: solid;
	}

	.DevCard-About {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.DevCard-Name-Container {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}

	.DevCard-Name {
		margin: 0;
		display: flex;
		align-items: center;
		text-align: center;
		font-size: 1.25rem;
		font-weight: 700;
		line-height: 1.75rem;
		color: rgb(225, 239, 254);
	}

	.DevCard-Link {
		text-decoration: none;
		display: flex;
		border-radius: 9999px;
		background-color: rgb(24, 24, 27);
		padding: 0.625rem;

		&> svg {
			display: block;
			vertical-align: middle;
			margin-left: auto;
			margin-right: auto;
			height: 1rem;
			width: 1rem;
			fill: rgb(225, 239, 254);
		}
	}

	.DevCard-Desc {
		margin: 0;
		text-align: center;
		font-size: 0.875rem;
		line-height: 1.25rem;
		font-weight: 500;
		color: rgb(225, 239, 254);
	}

	/*
	.DevCard {
		font-size: 1rem;
		padding: 1rem;
		margin: 0;
		width: 9rem;
		display: inline-block;
		background-color: var(--ui-color);
		border: var(--border);
		text-align: center;
		box-sizing: content-box;
	}

	.DevCard-Image {
		display: block;
		width: 9rem;
		height: 9rem;
		aspect-ratio: 1/1;
		border: var(--border);
		padding: 0;
		margin: 0;
	}

	.DevCard-Name-Container {
		padding: 0;
		margin: 0;
		margin-top: 0.5rem;
	}

	.DevCard-Role {
		padding: 0;
		margin: 0;
		font-style: italic;
		color: #bbb;
	}

	.DevCard-Desc {
		padding: 0;
		margin: 0;
		margin-top: 0.6rem;
		text-align: center;
		line-height: 1.25;
		color: #ccc;

		&> :global(*) {
			padding: 0;
			margin: 0;
			margin-top: 0.45rem;

			&:global(:first-child) {
				margin-top: 0;
			}
		}
	}
	*/
</style>
