---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
	image: ImageMetadata;
	name: string;
	role: string;
	rolecolor: string;
}

const { image, name, role, rolecolor } = Astro.props;
---

<div class="DevCard">
	<Image
		src={image}
		class="DevCard-Image"
		crossorigin="anonymous"
		referrerpolicy="no-referrer"
		aria-hidden="true"
		alt=""
	/>
	<div class="DevCard-About">
		<div class="DevCard-Name-Container">
			<h3 class="DevCard-Name">
				{name}<span class="DevCard-Role" style={`background-color: ${rolecolor};`}>{role}</span>
			</h3>
			<!-- <a class="DevCard-Link"><svg></svg></a> -->
		</div>
		<p class="DevCard-Desc">
			<slot />
		</p>
	</div>
</div>

<style>
	.DevCard {
		display: flex;
		width: 100%;
		height: fit-content;
		align-items: center;
		justify-content: space-between;
		border-radius: 0.375rem;
		border-color: var(--color-foreground-border);
		border-width: 2px;
		border-style: solid;
		background-color: var(--color-foreground);
		padding: 1rem;

		transition:
			border-color 75ms ease-in-out,
			background-color 75ms ease-in-out;

		@media (min-width: 440px) {
			height: 9rem;
		}

		&:hover {
			border-color: var(--color-foreground-border-selected);
			background-color: var(--color-foreground-selected);
		}
	}

	.DevCard-Image {
		display: block;
		vertical-align: middle;
		height: 100%;
		width: auto;
		aspect-ratio: 1 / 1;
		border-radius: 0.375rem;
		border-color: inherit;
		border-width: 2px;
		border-style: solid;
		margin-right: 1rem;

		transition: border-color 75ms ease-in-out;

		/*
		@media (min-width: 440px) {
			width: 6rem;
			height: 6rem;
		}
		*/
	}

	.DevCard-About {
		display: flex;
		flex: 1 1 fit-content;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.DevCard-Name-Container {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		text-align: center;
	}

	.DevCard-Name {
		margin: 0;
		display: flex;
		align-items: center;
		text-align: center;
		font-weight: 700;
		font-size: 1.25rem;
		line-height: 1.75rem;
		text-align: center;

		@media (min-width: 440px) {
			font-size: 1.5rem;
			line-height: 2rem;
		}
	}

	.DevCard-Role {
		width: fit-content;
		padding-top: 0.125rem;
		padding-bottom: 0.125rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		margin-left: 0.5rem;
		align-items: flex-start;
		border-radius: 0.5rem;
		font-weight: 600;
		font-size: 0.75rem;
		line-height: 1rem;
		text-align: center;
		color: var(--color-foreground-text);

		@media (min-width: 440px) {
			font-size: 0.875rem;
			line-height: 1.25rem;
		}
	}

	.DevCard-Link {
		text-decoration: none;
		display: flex;
		border-radius: 9999px;
		background-color: var(--color-foreground-ui);
		padding: 0.625rem;

		& > svg {
			display: block;
			vertical-align: middle;
			margin-left: auto;
			margin-right: auto;
			height: 1rem;
			width: 1rem;
			fill: var(--color-foreground-text);
		}
	}

	.DevCard-Desc {
		margin: 0;
		text-align: center;
		font-size: 0.875rem;
		line-height: 1.25rem;

		@media (min-width: 440px) {
			font-size: 1rem;
			line-height: 1.5rem;
		}
	}
</style>
