---
interface Props {}
---

<div class="DevList">
	<slot />
</div>

<style>
	.DevList {
    display: grid;
    grid-template-columns: repeat(1, 0);
    justify-items: center;
    gap: 1rem;

		/*
    margin-top: 0;
		padding-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: start;
		justify-content: space-evenly;
		gap: 0.5rem;
    */
	}
</style>
