---
import type { HTMLAttributes } from "astro/types";

interface Props {
	[Property in keyof HTMLAttributes<"span">]: HTMLAttributes<"span">[Property];
}

const props = Astro.props;
---

<span translate="no" {...props}><slot /></span>
