---
interface Props {
	title: string;
	centered?: boolean;
}

const { title } = Astro.props;
---

<section class="Section">
	<h2 class="Section-Title">{title}</h2>
	<div class="Section-Content">
		<slot />
	</div>
</section>

<style>
	.Section {
		display: block;
		text-indent: 0;
		/* background-color: var(--ui-color); */
		/* border: var(--border); */
		/* padding: 1rem; */
		margin-top: 2.8rem;
		justify-items: center;
	}

	.Section-Title {
		/* background-color: #5555; */
		/* border: 2px #0003 solid; */
		/* padding: 0.3rem; */
		padding: 0;
	}

	.Section-Content {
		margin-top: 1rem;
		padding-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}
</style>
