---
interface Props {
	image: ImageMetadata;
	platform: string;
	username: string;
	link: string;
}

const { image, platform, username, link } = Astro.props;

import Card from "./Card.astro";
---

<a class="SocialCard-Link" target="_blank" rel="noreferrer noopener external" href={link}>
	<Card image={image} title={platform} borderlessImg>
		<p class="SocialCard-Username">{username}</p>
	</Card>
</a>

<style>
	/*
	.SocialCard-Link {
		
	}
	*/

	.SocialCard-Username {
		margin-top: 0.2rem;
		color: #bfbfbf;
	}
</style>
