---
interface Props {
	path: string;
	title: string;
}

const { path, title } = Astro.props;

// components
import Head from "../components/Head.astro";

// images
import bgImage from "../assets/reception_blur.webp";

// stylesheets
import "../styles/main.css";
---

<!doctype html>
<html lang="en">
	<Head path={path} pagename={title}>
		<Fragment slot="preload">
			<link
				rel="preload"
				href={bgImage.src}
				as="image"
				fetchpriority="high"
				referrerpolicy="no-referrer"
			/>
		</Fragment>
	</Head>
	<body style={`background-image: url('${bgImage.src}');`}>
		<main>
			<slot />
		</main>
	</body>
</html>
